::selection {
  color: blueviolet;
  background: aqua;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 1em 0 0 0;
  font-weight: normal;
}

p {
  margin: 0.5em 0;
}

img {
  width: 100%;
  max-width: 400px;
}

a-scene {
  width: 100%;
  height: 100%;
  background: black;
}

#app {
  display: flex;
}

#scene {
  width: 100%;
  height: 100vh;
  flex: 2;
}

#info {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 2em;
  color: black;
  background: white;
  overflow: auto;
}

.heading {
  padding: 1em;
  color: white;
  background: black;
  text-align: center;
  text-transform: capitalize;
  border-radius: 100px;
}