* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 600ms;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
}

body {
  display: flex;
  font-size: 25px;
}

h1 {
  margin: 0;
  font-weight: normal;
  color: black;
  background: white;
  border-radius: 100px;
  padding: 1em;
}

#overlay {
  box-sizing: border-box;
  z-index: 5;
  width: 50vw;
  padding: 2em;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: auto;
  user-select: none;
}